.editor-main-wrapper {
width: 100%;
position: relative;
}
.editor-main-wrapper:hover > .editor-main-button{display:block !important;}
.editor-main-button {
display:none;
position: absolute;
left: 0px;
top: 0px;
z-index: 99;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
}
.editor-main-button > a{
width:100px;
}